extends ../layout

block content
  .col-12.col-sm-10.col-md-9.col-lg-6
    h2.text-center #{title}
    form#project-form.container(method='POST', enctype='multipart/form-data')
      .form-group
        label(for='title') Project Title
        input#name.form-control(method='POST', type='text', name='title', required, value=(project.title || ''))

      .form-group
        label(for='link') Link
        input#link.form-control(method='POST',type='text', name='link', required, value=(project.link || ''))

      .form-group
        label(for='description') Description
        textarea.form-control(name='description', rows='3', required)=(project.description || '')

      .form-group
        p
          label(for='image')
            | Upload an Image: &nbsp;
            span.text-muted (max. 10 MB)
        p
          if project.image
            img(src=`/uploads/projects/${project.image}`, alt=project.title  width=200)
          else
            helpers.placeholderImage(250, 150, 'image')
        p
          input.form-control(type='file', name='image', id='image', accept="image/gif, image/png, image/jpeg")
      .form-group
        button.btn.btn-primary.btn-lg.btn-block(type='submit') Save