extends ./layout

block content
    section.contact-us.text-center
      .fields
        .container
          i.fa.fa-headphones.fa-5x
          h1 Absence Reporting
          form.row(action="/admin/absence-reports/add" method="POST" )
            .col-12.col-sm-12.col-md-6
                .form-group
                  label(for="name") Name
                  input.form-control.form-control-lg(type="text" placeholder="Name" )
                  label(for="email") Email Address
                  input.form-control.form-control-lg(type="text" placeholder="Email")
                  label(for="start-absence") Start absence:
                  input.form-control.form-control-lg(type="date" name="startDate")
                  label(for="end-absence") End absence:
                  input.form-control.form-control-lg(type="date" name="untilDate")
            .col-12.col-sm-12.col-md-6
                label(for="photo") Photo
                  input(class=".custom-file-input.form-control.form-control-lg" type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
                  if absenceReport.photo
                    img(src=`/public/images/slide${absence.photo}`, alt=absence.name width=200)
                  textarea.form-control.form-control-lg(placeholder="Discription" name="description")
                  button.btn.btn-dark.btn-lg.btn-block(type="submit")  Send

      

