extends ./layout

block content
    section.contact-us.text-center
      .fields
        .container
          i.fa.fa-headphones.fa-5x
          h1 Absence Reporting
          form.row(action="/admin/absence-reports/add" method="POST" nctype="multipart/form-data")
            .col-12.col-sm-12.col-md-6
                .form-group
                  label(for="name") Name
                  input.form-control.form-control-lg(type="text" placeholder="Name" )
                  label(for="email") Email Address
                  input.form-control.form-control-lg(type="text" placeholder="Email")
                  label(for="start-absence") Start absence:
                  input.form-control.form-control-lg(type="date" name="startDate")
                  label(for="end-absence") End absence:
                  input.form-control.form-control-lg(type="date" name="untilDate")
            .col-12.col-sm-12.col-md-6
                .input-group.mb-3
                .custom-file
                  input#inputGroupFile03.custom-file-input(type="file" name="photo")
                  label.custom-file-label(for="photo") Choose file
                  textarea.form-control.form-control-lg(placeholder="Discription" name="description")
                  button.btn.btn-dark.btn-lg.btn-block(type="submit")  Send

      

