extends ./layout

block content
    section.absence-report
      .fields
        .container
          div.text-center
            i.fa.fa-sticky-note.fa-5x
            h1 Absence Reporting
          form.row( method="POST" enctype="multipart/form-data")
            .col-12.col-sm-12.col-md-6
                .form-group
                  input.form-control.form-control-lg(type="text" placeholder="First Name" name="firstName")

                .form-group
                  input.form-control.form-control-lg(type="file" name="photo" accept="image/gif, image/png, image/jpeg")

                .form-group
                  input.form-control.form-control-lg(type="date" name="StartDate" value="2017-06-01")

                .form-group
                .input-group.mb-3
                  textarea.form-control.form-control-lg(placeholder="Discription" name="description")

            .col-12.col-sm-12.col-md-6

                .form-group
                  input.form-control.form-control-lg(type="text" placeholder="Last Name" name="lastName")

                .form-group
                  input.form-control.form-control-lg(type="text" placeholder="Email"  name="email" )
                .form-group

                  input.form-control.form-control-lg(type="date" name="EndDate" value="2017-06-01")
                button.btn.btn-primary.btn-lg.btn-block(type="submit" value="Send →") Send
