extends ./layout

include ../mixins/dashboard/todoList
include ../mixins/dashboard/calendar
include ../mixins/dashboard/studentList

block content
  .container-fluid.main-dashboard
    .row
      .col-12.col-md-12.col-lg-4
        .dashboard-widget
          +calendar().widget

      .col-12.col-md-12.col-lg-8
        .dashboard-widget
          +todoList().widget

      .col-12.col-md-12.col-lg-12
        .dashboard-widget
          +studentList(students).widget
