extends ./layout

include ../mixins/todoList
include ../mixins/calendar
include ../mixins/studentList

block content
    h2 Dashboard

    .main-dashboard
        .row
            +calendar().widget
            +todoList().widget
        .row.p-3
            +studentList(students).widget
