extends layout

block content
  p
    a.btn.btn-primary(href='/admin/projects/add')
      i.fa.fa-plus Add project
  table.table.table-striped.table-bordered
    thead
      tr
        th(scope='col') #
        th(scope='col') Project Name
        th(scope='col') Link
        th(scope='col') Options
    tbody
      tr
        th(scope='row') 1
        td Demo1
        td #
        td.actions
          a(href='/admin/projects/projectID/edit')
            i.fa.fa-edit(title='Edit', data-toggle='tooltip', data-placement='top')
          a(href='/admin/projects/projectID/delete')
            i.fa.fa-remove(title='Delete', data-toggle='tooltip', data-placement='top')
      tr
        th(scope='row') 2
        td Demo 2
        td #
        td.actions
          a(href='/admin/projects/projectID/edit')
            i.fa.fa-edit(title='Edit', data-toggle='tooltip', data-placement='top')
          a(href='/admin/projects/projectID/delete')
            i.fa.fa-remove(title='Delete', data-toggle='tooltip', data-placement='top')
      tr
        th(scope='row') 3
        td Demo 3
        td #
        td.actions
          a(href='/admin/projects/projectID/edit')
            i.fa.fa-edit(title='Edit', data-toggle='tooltip', data-placement='top')
          a(href='/admin/projects/projectID/delete')
            i.fa.fa-remove(title='Delete', data-toggle='tooltip', data-placement='top')

