extends ../layout
block header
block content
  form#project-form.container
    .form-group
      label(for='exampleFormControlFile1') Upload a photo
      input#exampleFormControlFile1.form-control-file(type='file', accept="image/gif, image/png, image/jpeg")
    .form-group
      label(for='name') Project Name:
      input#name.form-control(method='post', type='text', name='name')
    .form-group
      label(for='email') Link:
      input#link.form-control(method='post',type='text', name='link')
    .form-group
      label(for='exampleFormControlTextarea1') Description
      textarea#exampleFormControlTextarea1.form-control(rows='3')
    .form-group
      button.btn.btn-success.btn-block(type='submit') Add



