#------------------------------------------------------------------------#
# Environment settings                                                   #
#------------------------------------------------------------------------#

NODE_ENV=development

#------------------------------------------------------------------------#
# Express settings                                                       #
#------------------------------------------------------------------------#

PORT=7777
SESSION_SECRET=Jb^.NC&jRC?sbn>6}R>z
SESSION_KEY=node-friends

#------------------------------------------------------------------------#
# MongoDB settings                                                       #
#------------------------------------------------------------------------#

DATABASE_HOST=localhost
DATABASE_PORT=27017
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=node-friends

#------------------------------------------------------------------------#
# SMTP Settings                                                          #
#------------------------------------------------------------------------#

MAIL_USER=
MAIL_PASS=
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525