#error-404 {
  margin: 100px 0 50px 0;
  text-align: center;

    h2 {
      color:lightblue;
      margin-top: 0;
    }

    h1 {
      padding-top: 2vh;
      font-weight: 600;
    }

    img {
      max-width: 100%;
    }

    p {
      font-size: 1rem;
      text-align: left;
    }
}