// NAVBAR

#frontnav {
  background-color: transparent;

  .container {
    width: 70%;
  }

  .navbar-nav {
    margin-top: -5px;
  }

  .navbar-brand {
    img {
      height: 35px;
      width: auto;
    }
  }
}

#frontnavlinks {
  padding-top: .5rem;
  list-style: none;
  
  li {
    color: #fff;
    font-weight: 400;
    margin: .3rem .8rem;
    transition: 2s;
    text-shadow: 2px 2px 4px black;
    
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: #fff;
      transition: width .3s ease-in;
      box-shadow: 0 0 2px black;
    }

    &:hover::after {
      width: 100%;
    }

    a {
      color: inherit;
      display: block;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}

.scrolled {
  #frontnav {
    background-color: white;

    #frontnavlinks {
      li {
        color: #8b8b8b;
        transition: 2s;
        text-shadow: 0 0 1px grey;
        
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 1px;
          background:#3e863d;
          transition: width .3s ease-in;
          box-shadow: 0 0 1px grey;
        }

        &:hover::after {
          width: 100%;
        }

        a:hover {
          color: #3e863d;
          text-decoration: none;
          font-weight: 400;
        }
      }
    }
  }
}

// MAIN

#bg-main {
  background-image: url(https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  padding-top: 56.25%;
  background-size: cover;
  margin-top: -16px;

  .jumbotron {
    color: #fff;
    background-color: rgba(255,255,255,0.3);
    width: 47%;
    position: absolute;
    top: 35%;
    right: 10%;
    border-radius: 1.2rem; 
    text-shadow: 2px 2px 5px #000;
  }
}

#jumbotron-footer {
  background-color: $primary;
  color: #fff;
  padding: .7rem;
  font-size: 1.3rem;
  font-weight: 300;
}

// TECHNOLOGIES

#favourite-tech {
  >.row {
    margin: 5rem auto 2rem auto;
  }

  .card {
    margin: 1.3rem;
    border-radius: .3rem;
    box-shadow: 0 0 10px rgb(91, 92, 92);

      h5 {
        color: black;
        font-weight: 600;
      }
  
      p {
        color: grey;
        font-size: .85rem;
      }

    &:hover {
      box-shadow: 0 0 10px $primary;
      
      h5 {
        color: $primary;
      }
    }
  }
}

#about-us {
  width: 80%;
  margin: 0 auto;
  
  >.row {
    margin: 2rem auto;
  }

  ul {
    list-style-type: circle;
  }

  h2 {
    margin: 3rem;
  }

  img {
    margin-bottom: 2rem;
  }

  a.btn.btn-success {
    background-color: $primary;
    color: white;

    &:hover {
      color: black;
    }
  }
  margin-bottom: 4rem;
}

#numbers {
  background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 180px;
  margin-bottom: 2rem;

  .row { 

    h4, h6 {
      font-weight: 900;
    }
  
    h6 {
      color: $primary;
    }
  }
}

#technologies {
  width: 80%;
  margin: 4rem auto 6rem auto;

  >.row {
    margin: 5rem auto 2rem auto;
  }

  h2 {
    margin: 3rem 0 2rem 0;
  }

  .card {
    border: none;

    img {
      margin-bottom: 1rem;
    }

    h5 {
      color: $primary;
      font-weight: 600;
    }

    p {
      color: grey;
      font-size: .85rem;
    }
  }
}

#becomestudent {
  background-image: url(https://images.pexels.com/photos/330771/pexels-photo-330771.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 2rem;

  .row { 

    h4, h6 {
      font-weight: 900;
    }
  
    h6 {
      color: $primary;
    }
  }

  .jumbotron {
    color: #fff;
    width: 70%;
    background-color: transparent;
    text-shadow: 0px 0px 15px black;
    margin-bottom: .5rem;

    .lead {
      text-shadow: 0px 0px 15px black;
    }
  }
}

#the-team {
  width: 80%;
  margin: 4rem auto 6rem auto;

  >.row {
    margin: 5rem auto 2rem auto;
  }

  h2 {
    margin: 3rem 0 2rem 0;
  }

  p {
    font-size: .9rem;
    color: grey;
    margin-top: 1rem;
  }

  a {
    text-decoration: none;
    
    img {
      transition: transform .2s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

#contact {
  width: 80%;
  margin: 4rem auto 6rem auto;

  >.row {
    margin: 5rem auto 2rem auto;
  }

  .col-12 {
    margin-bottom: 1.4rem;
  }

  h2 {
    margin: 3rem 0 0 0;
  }

  p {
    font-size: .9rem;
    color: grey;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .btn.btn-success {
    background-color: $primary;
    color: white;

  }
}

#footer {
  background-color: $primary;
  margin-bottom: 0;
  padding: 1rem;
  color: white;

  p {
    margin-bottom: 0;
  }
}


// MEDIA QUERIES

@media (max-width: 1081px) {
  #frontnav {
    
    .container {
      width: 100%;
    }

    .navbar {
      height: auto;
    }
  }
  
  #bg-main {
    padding-top: 80%;
    background-size: cover;
    
    .jumbotron {
      color: #fff;
      background-color: rgba(255,255,255,0.3);
      width: 80%;
      position: absolute;
      top: 38%;
      right: 10%;
      border-radius: 1.2rem; 
      text-shadow: 2px 2px 5px #000;
    }
  }
}

@media (max-width: 991px) {
  #frontnav {
    background-color: rgba(255,255,255,0.5);

    &.navbar {
      height: auto;
    }
  }

  #bg-main {
    padding-top: 80%;

    .jumbotron {
      top: 22%;
      right: 10%;
      border-radius: 1.2rem; 
      text-shadow: 2px 2px 5px #000;
    }
  }

  #favourite-tech {
    .card {
      margin: 1.3rem auto;
    }
  }

  #becomestudent {
    
  }
}
// Profile pic : 272px X 337px
// Technology pic: 245px X 130px