.bg-color {
  background-color: #F2F2F2;
}


.main-todo button {
  color: #000;
  background-color: transparent;
}

#todo-list-error {
  margin-top: 1rem;
}

#todo-list {
  .icon-remove {
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}

.lists-container {
  &:hover {
    background-color: #E3E3E3;
    border-left: 3px solid #000;
  }

  label.done {
    text-decoration: line-through;
  }
}