// update profile

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-button {
  border: 1px solid gray;
  color: gray;
  background-color: white!important;
  padding: .5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
