/**
  * Contents
  *
  *   1. Imports
  *   2. Global Styles
  *   3. Datepicker Optimization
  */

/* 1. Imports
-------------------------------------------*/

@import "bootstrap-custom";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "dashboard-main";
@import "frontend";
@import "absence-reports";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

/* 2. Global Styles
-------------------------------------------*/

.hidden {
  display: none;
}

.flash-messages {
  margin-top: 1rem;
}

h2.page-title {
  margin-bottom: 1rem;
}

/* 3. Datepicker Optimization
-------------------------------------------*/

.datepicker.datepicker-dropdown {
  padding: 0.5rem;

  .datepicker-days {
    table {
      tbody {
        tr {
          td.active {
            background: #eecc00;
          }
        }
      }
    }
  }
}