/**
  * Contents
  *
  *   1. Imports
  *   2. Global Styles
  *   3. Datepicker
  *   4. Sortable
  */

/* 1. Imports
-------------------------------------------*/

@import "bootstrap-custom";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "dashboard-main";
@import "frontend";
@import "absence-reports";
@import "update-profile";
@import "projects";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";



/* 2. Starter Template
-------------------------------------------*/

.hidden {
  display: none;
}

.flash-messages {
  margin-top: 1rem;
}

h2.page-title {
  margin-bottom: 1rem;
}

.placeholder-image {
  background-color: #e0e0e0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  &-icon {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    color: #777;
  }
}

/* 3. Datepicker
-------------------------------------------*/

.datepicker.datepicker-dropdown {
  padding: 0.5rem;

  .datepicker-days {
    table {
      tbody {
        tr {
          td.active {
            background: #eecc00;
          }
        }
      }
    }
  }
}

/* 4. Sortable
-------------------------------------------*/

.sortable-handle {
  cursor: move;
}

.sortable-ghost {
  border-left: 3px solid $primary;
}
