/**
  * Contents
  *
  *   1. Imports
  *   2. Global Styles
  *   3. Datepicker Optimization
  */

/* 1. Imports
-------------------------------------------*/

@import "bootstrap-custom";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "dashboard-main";
@import "absence-reports";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

/* 2. Global Styles
-------------------------------------------*/

.hidden {
  display: none;
}

.flash-messages {
  margin-top: 1rem;
}

h2.page-title {
  margin-bottom: 1rem;
}

/* 3. Datepicker Optimization
-------------------------------------------*/

.datepicker.datepicker-dropdown {
  padding: 0.5rem;

  .datepicker-days {
    table {
      tbody {
        tr {
          td.active {
            background: #eecc00;
          }
        }
      }
    }
  }
}

.todo-form-new {
  display: none;
  margin-top: 1rem;
}

.flash-messages {
  margin-top: 1rem;
}

// PROJECTS

td.actions a {
  color: inherit;
  font-size: 1rem;
  padding: 0.25rem;
}

// update profile

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.the-button {
  border: 1px solid gray;
  color: gray;
  background-color: white!important;
  padding: .5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
