extends layout

block main
  main.container(role="main")
        .row
          #content.col-10.offset-1.col-md-8.offset-md-2
            img(src=`/images/notfound.png`)
            h1 OH NO! YOU BROKE IT!
            h2 We couldn't find that page. Go back and try again.
            p  &nbsp;&nbsp;&nbsp; Designed by Freepik.com