extends layout

block main
  include frontend-partials/main
  include frontend-partials/favourite-tech
  include frontend-partials/about-us
  include frontend-partials/numbers
  include frontend-partials/technologies
  include frontend-partials/becomestudent
  include frontend-partials/the-team
  include frontend-partials/contact