.container#about-us
  h2 About Us
  .container-fluid.d-flex.justify-content-space-center
    .row
      .col-12.col-lg-6
        img.img-fluid(src='https://images.pexels.com/photos/398532/pexels-photo-398532.jpeg?w=940&h=650&auto=compress&cs=tinysrgb')
      .col-12.col-lg-5.text-justify
        p We are the 5th Web Development course at the <a href='https://digitalcareerinstitute.org/en/'>Digital Career Institute</a> in Berlin and now a group of friends, learning how to code with HTML, CSS, Node.js, Express, MongoDB and React.
        p Our long-term goal is to become successful web developers that build future applications for all kind of scenariosand environments. We'll be available for hire as junior developers from August 2018.
        ul 
          li We're striving to learn something new every day.
          li We're focused on code quality and readability.
          li We're learning from the best.

        a.btn.btn-outline-success Get in touch with us 