.container
  #about-us
    h2.dash About Us
    .container-fluid.d-flex.justify-content-space-center
      .row
        .col-12.col-lg-6
          img.img-fluid(src='/images/the-team.jpg' alt='')
        .col-12.col-lg-6.text-justify
          p We are the 5th Web Development course at the <a href='https://digitalcareerinstitute.org/en/'>Digital Career Institute</a> in Berlin and now a group of friends, learning how to code with HTML, CSS, Node.js, Express, MongoDB and React.
          p Our long-term goal is to become successful web developers that build future applications for all kind of scenarios and environments. We're available for hire as junior developers - Get us now!
          ul 
            li We're striving to learn something new every day.
            li We're focused on code quality and readability.
            li We're learning from the best.

          a.btn.btn-outline-success(href="#contact") Get in touch with us 