.container-fluid.d-flex.justify-content-center#becomestudent
  .jumbotron.jumbotron-fluid.text-left
    .container
      h1.display-5 Become a student
      p.lead You would like to learn all those technologies, but don't know where to start? <br> Ask for the courses at Digital Career Institute and join us!
      a.btn.btn-success(href="https://digitalcareerinstitute.org/en/" target="_blank") Join Us