.container
  #contact
    h2.dash Contact 
    p If you want to get more info, ping us now
    .container-fluid.d-flex
      .container.mx-auto.justify-content-center
        .row
          .col-12.col-lg-4
            input.form-control(type="text" id="name" placeholder="Name")
          .col-12.col-lg-4
            input.form-control(type="email" id="email" placeholder="Email")
          .col-12.col-lg-4
            input.form-control(type="text" id="subject" placeholder="Subject")
        .row
          .col-12.col-md-12
            textarea.form-control(rows="4" placeholder="Message")
        .row.justify-content-around
          .col-12.col-md-4
            button.btn.btn-success.col-12(type="submit") Send Your Digital Message