//- THIS WILL NEED TO LOOP OVER THE DATABASE OF TECH
.container.d-flex.justify-content-space-around#favouritetech
  .row
    .card(style="width: 18rem")
      .card-body.row
        i.fa.fa-pencil.fa-2x.col-2
        h5.card-title.col-10 HTML and CSS
        p.card-text.col-12 Some quick example text to build on the card title and make up the bulk of the card's content. Bla bla bla bla bla bla bla bla bla bla

    .card(style="width: 18rem")
      .card-body.row
        i.fa.fa-pencil.fa-2x.col-2
        h5.card-title.col-10 JS and jQuery
        p.card-text.col-12 Some quick example text to build on the card title and make up the bulk of the card's content. Bla bla bla bla bla bla bla bla bla bla

    .card(style="width: 18rem")
      .card-body.row
        i.fa.fa-pencil.fa-2x.col-2
        h5.card-title.col-10 React.js
        p.card-text.col-12 Some quick example text to build on the card title and make up the bulk of the card's content. Bla bla bla bla bla bla bla bla bla bla
        
      