#footer
  .container
    .row
      | Copyright &copy; 2018 Digital Career Institue. All rights reserved 
      i.fa.fa-facebook.fa-2x
        a(href='https://www.facebook.com/devugees/')
      i.fa.fa-linkedin.fa-2x
        a(href='https://www.linkedin.com/company/dci-digital-career-institute-gmbh/')