.container-fluid#bg-main
  .jumbotron.jumbotron-fluid
    .container
      h1.display-3 Web Development <br> with Node.js and React.js
      p.lead We're ready to build your next big thing - call us now!

.container-fluid.text-center#jumbotron-footer We are friends learning and coding with Node.js