.container-fluid#bg-main
  .jumbotron.jumbotron-fluid.text-right
    .container
      h1.display-5 Web Development <br> with Node.js and React.js
      p.lead We'll be ready to build your next big thing - call us in July!

.container-fluid#jumbotron-footer We are friends learning and coding with Node.js