nav.navbar.navbar-expand-md.fixed-top#frontnav
  .container
    a.navbar-brand(href="/"): img(src='/images/node-friends-logo-white.png')
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#frontnavlinks" aria-controls="frontnavlinks" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    
    .collapse.navbar-collapse#frontnavlinks
      ul.navbar-nav.ml-auto
        each item in helpers.navigationMain
          li.nav-item
            a.nav-link(href=`${item.href}`) #{item.name}