.container-fluid#numbers.d-flex
  .container.my-auto
    .row.text-center.align-items-center
      .col-3
        h6 Students
        h4 7

      .col-3
        h6 Days learned
        h4 #{daysLearned}

      .col-3
        h6 Days left
        h4 #{daysLeft}

      .col-3
        h6 Technologies
        h4 #{technologies.length}


