.container-fluid#numbers.d-flex
  .container.my-auto
    .row.text-center.align-items-center
      .col-6.col-md-3.number
        h6 Students
        h4 #{students.length}

      .col-6.col-md-3.number
        h6 Days learned
        h4 #{daysLearned}

      .col-6.col-md-3.number
        h6 Days left
        h4 #{daysLeft}

      .col-6.col-md-3.number
        h6 Technologies
        h4 #{technologies.length}


