#the-team
  h2 The Team
  .container.d-flex
    .row.justify-content-around
      .col-6.col-md-3
        a(href='/')
          img.img-fluid(src='/images/person_1.png' width='700')
          p.text-center Student One
      .col-6.col-md-3
        a(href='/')  
          img.img-fluid(src='/images/person_2.png' width='700')
          p.text-center Student Two
      .col-6.col-md-3
        a(href='/')  
          img.img-fluid(src='/images/person_3.png' width='700')
          p.text-center Student Three
      .col-6.col-md-3
        a(href='/')  
          img.img-fluid(src='/images/person_4.png' width='700')
          p.text-center Student Four
      .col-6.col-md-3
        a(href='/')  
          img.img-fluid(src='/images/person_3.png' width='700')
          p.text-center Student Five
      .col-6.col-md-3
        a(href='/')  
          img.img-fluid(src='/images/person_4.png' width='700')
          p.text-center Student Six
      .col-6.col-md-3
        a(href='/')  
          img.img-fluid(src='/images/person_1.png' width='700')
          p.text-center Student Seven