mixin absenceReport()
    section.contact-us.text-center
      .fields
        .container
          i.fa.fa-headphones.fa-5x
          h1 Absence Reporting
          .row
            .col-12.col-sm-12.col-md-6
              .form-group
                input.form-control.form-control-lg(type="text" placeholder="Name")
              .form-group
                input.form-control.form-control-lg(type="text" placeholder="Email")
              .form-group
                input.form-control.form-control-lg(type="text" placeholder="Phone")
            .col-12.col-sm-12.col-md-6
              .input-group.mb-3
                .input-group-prepend
                  button.btn.btn-outline-secondary(type="button") Button
                .custom-file
                  input#inputGroupFile03.custom-file-input(type="file")
                  label.custom-file-label(for="inputGroupFile03") Choose file
              .form-group
                textarea.form-control.form-control-lg(placeholder="Your Message")

          button.btn.btn-secondary.btn-lg.btn-block(type="button") Block level button

      

