mixin calender(calender)
.calender
  ul.month
    li
      h1 Febuary
      h2 2018
    span.prev ❮
    span.next ❯
  ul.weeks
    li Sa
    li Su
    li Mo
    li Tu
    li We
    li Th
    li Fr
  ul.days
