mixin todoList(todos = {})
    .main-todo.container
        .row
            .col-6.p-2.bg-light.p-3
                h5.float-left TODOLIST
                .float-right
                    button(type="button").btn.btn-sm.mr-2.p-0
                        i.fa.fa-chevron-up(aria-hidden="true")
                    button(type="button").btn.btn-sm.mr-1.p-0
                        i.fa.fa-times(aria-hidden="true")
                        
                br
                #todo-list-error.alert.alert-danger.hidden

                form(action="/admin/todos" method="POST")#todo-form.input-group.my-3
                    input#todo-form.form-control(name="name" type='text' placeholder="Please add to-do item...")
                    .input-group-append
                        button.btn.btn-outline-secondary(type='submit')
                            i.fa.fa-plus(aria-hidden="true")  Add item

                if (todos)
                    #todo-list-loading
                        i.fa.fa-spin.fa-spinner
                        | &nbsp; Loading ...
                    #todo-list
