mixin todoList(todos)
    .main-todo.container
        .row
            .col-6.p-2.bg-light.p-3
                h5.float-left TODOLIST
                .float-right
                    button(type="button").btn.btn-sm.mr-2.p-0
                        i.fa.fa-chevron-up(aria-hidden="true")
                    button(type="button").btn.btn-sm.mr-1.p-0
                        i.fa.fa-times(aria-hidden="true")
                        
                br

                form(action="" method="POST").input-group.my-3
                    input.form-control(type='text' placeholder="Please add to-do item...")
                    .input-group-append
                        button.btn.btn-outline-secondary(type='submit')
                            i.fa.fa-plus(aria-hidden="true")  Add item

                .lists-container.container.p-0.pl-2
                    button(type="button")#move-todolist.btn.btn-sm.p-0.mr-2
                        i.fa.fa-arrows(aria-hidden="true")
                    .custom-control.custom-checkbox.d-inline-flex
                        input#Check1.custom-control-input(type='checkbox')
                        label.custom-control-label(for='Check1') Check this custom checkbox

