extends ../layout

block content
    .row
        .col-12.col-md-6.col-lg-4
            form.form(action="/admin/password-forgot", method="POST")
                h2 I forgot my password!

                p Please provide your email address and we will send you an email to reset the password, after clicking on a link.

                .form-group
                    label(for="email")
                        strong Email
                    input.form-control(type="email", name="email")

                .form-group
                    input.btn.btn-primary(type="submit", value="Send a Reset")