/**
  * Contents
  *
  *   1. Imports
  *   2. Global Styles
  *   3. Navigation
  *   4. Sidebar
  */

/* 1. Imports
-------------------------------------------*/

@import "../bootstrap-custom";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "~fullcalendar/dist/fullcalendar.css";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

@import "dashboard";
@import "todo-list";
@import "absence-reports";
@import "update-profile";
@import "projects";

/* 2. Global Styles
-------------------------------------------*/

html,
body {
  height: 100%;
}

a.btn {
  text-decoration: none;
}

.hidden,
.hide {
  display: none;
}

#content {
  margin-top: 30px;
}

.page-title {
  margin: 0 0 1rem 0;
  padding: 0;
}

.placeholder-image {
  background-color: #e0e0e0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  &-icon {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    color: #777;
  }
}

/* 3. Navigation
------------------------------------------------*/

.navbar {
  background-color: #3D9970;
  color: white;
  font-weight: 300;
  height: 50px;

  .user-avatar {
    display: inline-block;
    border-radius: 50%;
    margin: 0 0.5rem;
  }

  .navbar-nav {
    .nav-link.active {
      font-weight: 700;
    }
  }

  .user-dropdown {
    cursor: pointer;

    a {
      text-decoration: none;
    }
  }
}

/* 4. Sidebar
------------------------------------------------*/

#sidebar {
  background-color: #1c2d47;
  padding: 0;

  hr {
    border-color: rgba(255,255,255,0.25);
  }

  ul {
    margin: 1rem 0 0 0;
    padding: 0;
    list-style: none;

    li {
      color: #999;

      &:hover {
        color: #fff;
        border-left: 4px solid #3D9970;
      }

      a {
        color: inherit;
        display: block;
        padding: .25rem 0;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      &.active a {
        color: #fff;
        border-left: 4px solid #3D9970;
      }

      i {
        font-size: 1.3rem;
        padding: 0 1rem;
        line-height: 1.5;
        margin-right: 1rem;
      }
    }
  }
}

/* 2. Datepicker
-------------------------------------------*/

.datepicker.datepicker-dropdown {
  padding: 0.5rem;

  .datepicker-days {
    table {
      tbody {
        tr {
          td.active {
            background: #eecc00;
          }
        }
      }
    }
  }
}

/* 3. Sortable
-------------------------------------------*/

.sortable-handle {
  cursor: move;
}

.sortable-ghost {
  border-left: 3px solid $primary;
}